extends layout

block content
    .w3-container
        //- .w3-card-4
        //-     header.w3-container.w3-teal.w3-margin-top
        //-         h3= lista.termos
        //-     table.w3-table-all
        //-         tr
        //-             th Id
        //-                 td= lista.id
        //-         tr
        //-             th Codigo
        //-                 td= lista.codigo
        //-         tr
        //-             th Titulo
        //-                 td= lista.titulo
        //-         tr
        //-             th Status
        //-                 td= lista.status
        .w3-card-4
            header.w3-container.w3-teal.w3-margin-top
                h3 Entidades:
            table.w3-table-all
                tr
                    th Termo
                    th Estado
                    th idClasse
                    th Titulo Classe
                    th Codigo Classe
                each e in lista
                    tr
                        td= e.termo
                        td= e.estado
                        td= e.idClasse
                        td= e.tituloClasse
                        td
                            a(href="http://localhost:5001/classe")= e.codigoClasse
        //- .w3-card-4
        //-     header.w3-container.w3-teal.w3-margin-top
        //-         h3 É proprietário dos processos:
        //-     table.w3-table-all
        //-         tr
        //-             th Código
        //-             th Identificador
        //-             th Título
        //-         each p in lista.dono
        //-             tr
        //-                 td= p.codigo
        //-                 td= p.id
        //-                 td= p.titulo
        //- .w3-card-4
        //-     header.w3-container.w3-teal.w3-margin-top
        //-         h3 Participa nos Processos:
        //-     table.w3-table-all
        //-         tr
        //-             th Código
        //-             th Identificador
        //-             th Título
        //-             th Tipo de Paricipante
        //-         each pr in lista.participante
        //-             tr
        //-                 td= pr.codigo
        //-                 td= pr.id
        //-                 td= pr.titulo
        //-                 td= pr.tipoPar

    footer.w3-container.w3-teal Made by Guilherme Palumbo
            a(href='/')
                button.w3-button.w3-green.w3-margin Voltar